@{
    ViewData["Title"] = "Welcome";
    Layout = "_Layout";
}

<div class="container">
    <div class="content">
        <div class="left">
            <h1>Manage Your <br /> Expenses Easily <br /> With Spendly!</h1>
            <p>Tired of wondering where your money went?</p>
            <button>Start Tracking Free <img src="~/images/np.png" alt="icon" class="me-2" style="width:18px; height:18px;" /></button>
        </div>
        <div class="right"></div>
    </div>
</div>