html {
  font-size: 14px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* removes scrollbars */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
footer {
    height:64px;
    background-color:black;
    position:fixed;
    bottom:0;
    right:0;
    width:100%;
    color:white;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center
}
a{
    text-decoration-style:dashed;
    text-decoration-color:white;
    text-underline-offset:5px;
    text-anchor:middle;
    display:inline-block;
}
